apiVersion: v1
kind: Secret
metadata:
  name: secrets
  namespace: default
type: Opaque
data:
  jwt-secret-key: 
  stripe-webhook-secret-key: 
  stripe-secret-key: 
  elastic-user: 
  elastic-password: 
  mailtrap-api-key: 